<div class="header">
  <div class="header-left">
    <h1>gatebookへようこそ</h1>
  </div>
  <div class="header-right">
    <li><%= link_to"new",new_note_path %></li>
    <li><%= link_to"index",index_note_path %></li>
    <li><%= link_to"about",about_note_path %></li>
  </div>
</div>